.logo12 img{
	width: 100px
}
.logo12{
	display: inline-block;
	vertical-align: middle;

}
.PS{
	width:1000PX
}
ul {
	list-style: none;
}
.navigation-li{
	display: inline-block;
	margin-right: 30px
}
.navigation{
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px
}
.surati1{
	
	vertical-align: top;
	width: 100px
}
.text1{
	
	display: inline-block;
	width:300px
}
.surati2{
	
	vertical-align: top;
	width: 100px
}
.text2{
	
	display: inline-block;
	width: 300px
}
.logoebi{
	width:30px


}
